@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pattern-overlay {
    @apply pointer-events-none absolute inset-0;
    background-image: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png');
    background-size: 80px;
    background-repeat: repeat;
    opacity: 0.1;
  }
}

@layer base {
  :root {
    --background: 120 20% 3%; /* #060906 */
    /*     --background: 220 17% 7%; /* #060906 */
    --foreground: 0 0% 100%;

    --card: 120 7% 5%; /* #080A09 */
    --card-foreground: 0 0% 100%;

    --popover: 120 7% 5%;
    --popover-foreground: 0 0% 100%;

    --primary: 82 96% 49%; /* #BFF603 */
    --primary-foreground: 120 20% 3%; /* #060906 */

    --secondary: 120 7% 5%;
    --secondary-foreground: 0 0% 100%;

    --muted: 120 7% 5%;
    --muted-foreground: 0 0% 63%;

    --accent: 120 7% 5%; /* #080A09 */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 120 7% 5%;
    --input: 120 7% 5%;
    --ring: 82 96% 49%;

    --radius: 0.2rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 120 20% 3%;
    --foreground: 0 0% 100%;

    --card: 120 7% 5%;
    --card-foreground: 0 0% 100%;

    --popover: 120 7% 5%;
    --popover-foreground: 0 0% 100%;

    --primary: 82 96% 49%;
    --primary-foreground: 120 20% 3%;

    --secondary: 120 7% 5%;
    --secondary-foreground: 0 0% 100%;

    --muted: 120 7% 5%;
    --muted-foreground: 0 0% 63%;

    --accent: 120 7% 5%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 120 7% 5%;
    --input: 120 7% 5%;
    --ring: 82 96% 49%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply relative bg-background font-alexandria text-foreground overflow-hidden;
  }
}
